In [1]:
import xarray as xr
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
file_path='/mnt/1A42C1DD42C1BE2F/MyProjects/ML_TCBOB/Data/Preprocessed data/filtered_all_cyclone[4th august 2023].csv'
data=pd.read_csv(file_path)

In [3]:
data

,cyclone_no,Date,lat,lon,eye,eye.1,eye.2,eye.3,eye.4,eye.5,...,rquv grid.2800,rquv grid.2801,rquv grid.2802,rquv grid.2803,rquv grid.2804,rquv grid.2805,rquv grid.2806,rquv grid.2807,lat+6,lon+6
0,1,1979-05-07 22:00:00,6.75,86.50,95.660950,97.736984,95.491577,0.000016,0.005992,0.014564,...,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,NaN,6.75,86.00
1,1,1979-05-07 23:00:00,6.75,86.25,93.597015,97.013519,92.399307,0.000016,0.005942,0.014518,...,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,NaN,6.75,86.00
2,1,1979-05-08 00:00:00,6.75,86.25,96.556213,92.251709,94.831024,0.000015,0.005842,0.014695,...,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,NaN,6.75,86.00
3,1,1979-05-08 01:00:00,6.75,86.00,98.818558,98.317696,94.402756,0.000016,0.005979,0.014798,...,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,NaN,6.75,86.00
4,1,1979-05-08 02:00:00,6.75,86.00,100.057404,97.221611,92.912262,0.000016,0.006008,0.014700,...,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,NaN,6.75,86.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3781,49,2020-05-20 10:00:00,21.50,88.00,101.143356,97.755447,90.524521,0.000051,0.008797,0.017035,...,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,NaN,22.75,88.25
3782,49,2020-05-20 11:00:00,21.75,88.25,100.676369,95.485931,90.572113,0.000050,0.008171,0.016890,...,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,NaN,23.00,88.50
3783,49,2020-05-20 12:00:00,22.00,88.25,100.126091,91.098595,93.382980,0.000049,0.007944,0.017346,...,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,NaN,23.25,88.50
3784,49,2020-05-20 13:00:00,22.25,88.25,101.419983,89.391251,94.638206,0.000048,0.007829,0.016972,...,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,NaN,23.25,88.50
3785,49,2020-05-20 14:00:00,22.50,88.25,104.923904,89.879066,95.363976,0.000048,0.007713,0.016826,...,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,NaN,23.50,88.50

In [4]:
def remove_column(df, column_to_remove):
    df = df.drop(column_to_remove, axis=1)
    return df

column_to_remove = 'rquv grid.2807'
data = remove_column(data, column_to_remove)

In [5]:
data

,cyclone_no,Date,lat,lon,eye,eye.1,eye.2,eye.3,eye.4,eye.5,...,rquv grid.2799,rquv grid.2800,rquv grid.2801,rquv grid.2802,rquv grid.2803,rquv grid.2804,rquv grid.2805,rquv grid.2806,lat+6,lon+6
0,1,1979-05-07 22:00:00,6.75,86.50,95.660950,97.736984,95.491577,0.000016,0.005992,0.014564,...,303.548798,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,6.75,86.00
1,1,1979-05-07 23:00:00,6.75,86.25,93.597015,97.013519,92.399307,0.000016,0.005942,0.014518,...,303.548798,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,6.75,86.00
2,1,1979-05-08 00:00:00,6.75,86.25,96.556213,92.251709,94.831024,0.000015,0.005842,0.014695,...,303.548798,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,6.75,86.00
3,1,1979-05-08 01:00:00,6.75,86.00,98.818558,98.317696,94.402756,0.000016,0.005979,0.014798,...,303.548798,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,6.75,86.00
4,1,1979-05-08 02:00:00,6.75,86.00,100.057404,97.221611,92.912262,0.000016,0.006008,0.014700,...,303.548798,302.293976,302.067444,302.128967,302.358368,302.762665,302.859283,302.898346,6.75,86.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3781,49,2020-05-20 10:00:00,21.50,88.00,101.143356,97.755447,90.524521,0.000051,0.008797,0.017035,...,303.298523,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,22.75,88.25
3782,49,2020-05-20 11:00:00,21.75,88.25,100.676369,95.485931,90.572113,0.000050,0.008171,0.016890,...,303.298523,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,23.00,88.50
3783,49,2020-05-20 12:00:00,22.00,88.25,100.126091,91.098595,93.382980,0.000049,0.007944,0.017346,...,303.298523,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,23.25,88.50
3784,49,2020-05-20 13:00:00,22.25,88.25,101.419983,89.391251,94.638206,0.000048,0.007829,0.016972,...,303.298523,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,23.25,88.50
3785,49,2020-05-20 14:00:00,22.50,88.25,104.923904,89.879066,95.363976,0.000048,0.007713,0.016826,...,303.298523,302.579834,302.588623,302.683289,302.565247,302.612030,302.591644,302.658813,23.50,88.50

<bound method Series.count of 0        6.75
1        6.75
2        6.75
3        6.75
4        6.75
        ...
3781    22.75
3782    23.00
3783    23.25
3784    23.25
3785    23.50
Name: lat+6, Length: 3786, dtype: float64>