In [1]:
import xarray as xr
import dask 

import warnings 
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

import cartopy.feature as cf
import cartopy.crs as ccrs
import cartopy.mpl.ticker as cticker

from cartopy.util import add_cyclic_point 
from matplotlib import animation
from tqdm import tqdm

In [2]:
# Time batch selection
# batch = 11 complete
batch = 12

if batch==1:
    start, end = 1978, 1983
elif batch ==2:
    start, end = 1984, 1989    
elif batch ==3:
    start, end = 1990, 1992
elif batch==4:
    start, end = 1993, 1996
elif batch ==5:
    start, end = 1997, 2002
elif batch==6:
    start, end = 2003, 2004
elif batch ==7:
    start, end = 2005, 2007
elif batch==8:
    start, end = 2008, 2010  
    
elif batch==9:
    start, end = 2011, 2013  
elif batch ==10:
    start, end = 2014, 2016
elif batch==11:
    start, end = 2017, 2019  
elif batch==12:
    start, end = 2020, 2021

# IBTRACS

In [3]:
path='/mnt/1A42C1DD42C1BE2F/My projects/ML_TCBOB/Data/ibtracs.NI.list.v04r00.csv'
ib_data = pd.read_csv(path)
ib_data

In [4]:
# bb_data = ib_data[(ib_data['SUBBASIN'] == 'BB') & (ib_data['SEASON'] >= 1978) & (ib_data['NATURE'].isin(['TS', 'MX']))]
bb_data = ib_data[(ib_data['SUBBASIN'] == 'BB') & (ib_data['NATURE'].isin(['TS'])) & (ib_data['SEASON'].isin(range(start, end+1)))] #Notice
bb_data = bb_data.reset_index(drop=True)
# bb_data['NUMBER'] = bb_data.groupby('NUMBER').ngroup() + 1
bb_data['NUMBER'] = pd.factorize(bb_data['SID'])[0] + 1
bb_data

In [5]:
cyclone_data = bb_data[['NUMBER','ISO_TIME']]
cyclone_data['ISO_TIME'] = pd.to_datetime(cyclone_data['ISO_TIME']) # without this the timestamp is in different type
cyclone_data

In [6]:
cyclone_data.NUMBER.unique()

# Era5

In [7]:
# path = '//mnt/1A42C1DD42C1BE2F/My projects/ML_TCBOB/Data/ERA5/1979.nc'
path = '/mnt/1A42C1DD42C1BE2F/My projects/ML_TCBOB/Data/ERA5/*.nc'
era_data = xr.open_mfdataset(path).sel(latitude=slice(25, 0), longitude=slice(78,100))
# era_data = era_data.sel(time=slice(str(start), str(end)))
era_data

In [8]:
first_batch = era_data.sel(time=slice('19790101','19891231'))
second_batch = era_data.sel(time=slice('19900101','20001231'))
third_batch = era_data.sel(time=slice('20010101','20101231'))
fourth_batch = era_data.sel(time=slice('20110101','20201231'))
fifth_batch = era_data.sel(time=slice('20200101','20211231'))


# select = era_data.sel(time=slice('20010101', '20201231'))
select = fifth_batch

In [9]:
# first_batch = era_data.sel(time=slice('19790101','19891231'))
# second_batch = era_data.sel(time=slice('19900101','20001231'))
# third_batch = era_data.sel(time=slice('20010101','20101231'))
# fourth_batch = era_data.sel(time=slice('20110101','20201231'))


# # select = era_data.sel(time=slice('20010101', '20201231'))
# select = first_batch

In [10]:
era_data = select
era_data

In [11]:
era_data = era_data.sel(level=150)

In [12]:
era_data

In [13]:
# Extract the desired variables
variable1 = era_data['variable1'].values
variable2 = dataset['variable2'].values
# ... extract other variables as needed

# Create a dictionary with the extracted variables
data_dict = {
    'Variable1': variable1.flatten(),
    'Variable2': variable2.flatten(),
    # ... add other variables to the dictionary
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data_dict)

In [ ]:
time=era_data['time'].values
lat_data=era_data['latitude'].values
lon_data=era_data['longitude'].values
rdata=era_data['r'].values

In [ ]:
print('time',time)

In [ ]:
rdata.shape
# time.shape
# lat_data.shape
# lon_data.shape

In [ ]:
df['time'] = era_data['time'].values
df['lat'] = era_data['latitude'].values
df['time'] = era_data['longitude'].values

In [ ]:
# Reshape the observed data to a 2D array (time, lat*lon)
rdata_2d = rdata.reshape(rdata.shape[0], -1)

# Create a Pandas DataFrame from the 2D observed data array
df = pd.DataFrame(rdata_2d, columns=['lat_lon_{}'.format(i) for i in range(rdata_2d.shape[1])])

# Add the time values as a column
df['time'] = era_data['time'].values
df

In [ ]:
list={'time':time,'latitude':lat_data,'longitude':lon_data}
data_table=pd.DataFrame(list)
data_table.head()

In [ ]:
# selecting variable for lat lon and time 
lon = era_data['longitude'][:]
lat = era_data['latitude'][:] 
time = era_data['time'][:]

#converting lon lat in lon2d and lat2d
lon2d, lat2d = np.meshgrid(lon, lat)

In [ ]:
u = era_data['u']
v = era_data['v']

wind=np.sqrt(u**2 + v**2)
wind

In [ ]:
nlon = len(wind.longitude)
nlat = len(wind.latitude)
nt = len(wind.time)

In [ ]:
wind_data = np.reshape(wind.data,((nt, nlat*nlon))) 
wind_data = wind_data.compute()
wind_data

# Making dataFrame with cyclone information

In [ ]:
#calculating the maximum speed and the index of the cyclone 
cyclonic_wind_speed = []
index = []

for i in range(len(wind.time)):
  maximum = np.nanmax(wind_data[i,:])
  if maximum>17:
    index.append(i)
    cyclonic_wind_speed.append(maximum)

print(index)

In [ ]:
#time
datetimeindex = era_data.time.data
cyclone_date = []

for i in range(len(index)):
  cyclone_date.append(datetimeindex[index[i]])

In [ ]:
#data_table0 is used for dummy database
#so that main database wont affect 
list0 = {'cyclonic_wind_speed': cyclonic_wind_speed, 'Date': cyclone_date}  
data_table0 = pd.DataFrame(list0)
data_table0.head()

In [ ]:
#Starting and Ending date from the wind
primary_count = 0 #primary count
start = cyclone_date[0]
starting_date = []
ending_date = []
 

for i in range(len(cyclone_date)):
  time_difference = (cyclone_date[i] - cyclone_date[i-1]).astype('timedelta64[h]')

  if time_difference >= np.timedelta64(48, 'h'):
    primary_count = primary_count+1 
    starting_date.append(start)
    ending_date.append(cyclone_date[i-1])
    start = cyclone_date[i]
    
print("Primary cyclone count: ", primary_count)
print(starting_date)
print(ending_date)

# the end

In [ ]:
era_data['latitude']

In [ ]:

lat = []
lon = []

# Iterate over the ISO_TIME values in cyclone_data
for i in range(len(cyclone_data['ISO_TIME'])):
    time_value = cyclone_data['ISO_TIME'][i]

    # Find the matching time index in era_data
    time_index = np.where(era_data['time'] == time_value)[0][0]

    # Extract lat and lon values from era_data using the time_index
    lat_value = era_data['latitude'][time_index]
    lon_value = era_data['longitude'][time_index]

    # Append lat and lon values to the respective lists
    lat.append(lat_value)
    lon.append(lon_value)

In [ ]:
# selecting variable for lat lon and time 
lon = era_data['longitude'][:]
lat = era_data['latitude'][:] 
time = era_data['time'][:]

#converting lon lat in lon2d and lat2d
lon2d, lat2d = np.meshgrid(lon, lat)

In [ ]:
u = era_data['u']
v = era_data['v']

wind=np.sqrt(u**2 + v**2)
wind

In [ ]:
wind_level=wind.isel(level=0)

wind_level

In [ ]:
print(wind_level.shape)

In [ ]:
# nlon = len(wind_level.longitude)
# nlat = len(wind_level.latitude)
# nt = len(wind_level.time)

In [ ]:

nt, nlat, nlon = wind_level.shape
wind_data = wind_level.data.reshape((nt, nlat * nlon))
wind_data

In [ ]:
#calculating the maximum speed and the index of the cyclone 
cyclonic_wind_speed = []
index = []

for i in range(len(wind.time)):
  maximum = np.nanmax(wind_data[i,:])
  if maximum>17:
    index.append(i)
    cyclonic_wind_speed.append(maximum)

print(index)

# Adding Eye data

In [ ]:
# # Eye data of Relative Humidity, Specific Humidity, Temperature*
# r_eye = []
# q_eye = []


# for i in range(len(cyclone_data['LAT'])):
#     lat_of_interest = cyclone_data['LAT'][i]
#     lon_of_interest = cyclone_data['LON'][i]
#     time_index = np.where(data.time==cyclone_data['ISO_TIME'][i])[0][0]
    
#     # select the indices of the nearest latitude and longitude values in the 'data' dataset
#     lat_idx = np.argmin(np.abs(data['latitude'].values - lat_of_interest))
#     lon_idx = np.argmin(np.abs(data['longitude'].values - lon_of_interest))

#     # extract the vvalues at the selected latitude and longitude position and 850 hPa
#     r_value = data['r'][time_index, 2, lat_idx, lon_idx].values
#     q_value = data['q'][time_index, 2, lat_idx, lon_idx].values

    
#     r_eye.append((float(r_value)))
#     q_eye.append((float(q_value)))


# #adding data into the dataframe
# cyclone_data['r_eye'] = r_eye
# cyclone_data['q_eye'] = q_eye


# #print
# cyclone_data

In [ ]:
# # Eye data of Relative Humidity, Specific Humidity
# r_eye = []
# q_eye = []

# # Iterate over the 'ISO_TIME' values in cyclone_data
# for iso_time in cyclone_data['ISO_TIME']:
#     time_index = np.where(data.time == iso_time)[0][0]
    
#     # Extract the values for 'r' and 'q' at the specific 'ISO_TIME'
#     r_value = data['r'][time_index, 2].values
#     q_value = data['q'][time_index, 2].values

#     r_eye.append(r_value)
#     q_eye.append(q_value)

# # Add data to the dataframe
# cyclone_data['r_eye'] = r_eye
# cyclone_data['q_eye'] = q_eye

# # Print the updated dataframe
# cyclone_data

# Adding u and v at the eye

In [ ]:
# # Eye data of u and v 

# u_eye_150 = []
# u_eye_500 = []
# u_eye_850 = []

# v_eye_150 = []
# v_eye_500 = []
# v_eye_850 = []

# for l in range(3):
#     for i in range(len(cyclone_data['LAT'])):
#         lat_of_interest = cyclone_data['LAT'][i]
#         lon_of_interest = cyclone_data['LON'][i]
#         time_index = np.where(data.time==cyclone_data['ISO_TIME'][i])[0][0]

#         # select the indices of the nearest latitude and longitude values in the 'data' dataset
#         lat_idx = np.argmin(np.abs(data['latitude'].values - lat_of_interest))
#         lon_idx = np.argmin(np.abs(data['longitude'].values - lon_of_interest))

#         # extract the vvalues at the selected latitude and longitude position and 850 hPa
#         u_value = data['u'][time_index, l, lat_idx, lon_idx].values
#         v_value = data['v'][time_index, l, lat_idx, lon_idx].values
        
#         if l == 0: #150 hpa
#             u_eye_150.append((float(u_value)))
#             v_eye_150.append((float(v_value)))
            
#         if l == 1: #500 hpa
#             u_eye_500.append((float(u_value)))
#             v_eye_500.append((float(v_value)))
            
#         if l == 2: #500 hpa
#             u_eye_850.append((float(u_value)))
#             v_eye_850.append((float(v_value)))

            
# #adding data into the dataframe
# cyclone_data['u_eye_150'] = u_eye_150
# cyclone_data['u_eye_500'] = u_eye_500
# cyclone_data['u_eye_850'] = u_eye_850

# cyclone_data['v_eye_150'] = v_eye_150
# cyclone_data['v_eye_500'] = v_eye_500
# cyclone_data['v_eye_850'] = v_eye_850


# print
# cyclone_data

In [ ]:
# path=
# sst_data=xr.open_mfdataset(path)
# sst_data=sst_data.sel(time=slice(str(start),str(end)))
# sst_data

ss